body {
  width: 100%;
  height: auto;
}
* {
  font-family: "Yusei Magic", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
li {
  list-style-type: none; /* Убираем маркеры */
}

.content_inner_text_hr {
  margin: 50px auto;
  width: 650px;
  padding-left: auto;
  padding-right: auto;
  color: #666;
}

/*Header */ /*Header */ /*Header */ /*Header */ /*Header */ /*Header */ /*Header */
/*Header */ /*Header */ /*Header */ /*Header */ /*Header */ /*Header */ /*Header */

.logo {
  padding-left: 50px;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  text-decoration: none;
}
.logo a {
  color: #666;
}
.logo a:hover {
  color: white;
  transition: 0.5s;
}

.header {
  font-size: 15px;
  text-decoration: none;
}
.header_container {
  width: auto;
  height: 52px;
  background-color: black;
  display: grid;
  grid-template-columns: 30% 15% 55%;
}
@media (max-width: 1100px) {
  .header_container_empty {
    display: none;
  }
  .header_container {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}
.header_container > div.header_logo {
}
.header_logo_image {
  width: 186px;
  height: 62px;
  padding-left: 35%;
}

.header_container > div.header_container_empty {
}
.header_container > div.header_nav {
  padding-top: 15px;
  text-align: center;
  vertical-align: middle;
}
.header_inner_ul {
  vertical-align: middle;

  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}

.header_inner_ul a {
  color: #666;
  text-decoration: none;
}
.header_inner_ul a:hover {
  color: white;
  transition: 0.5s;
}

.header_inner_ul li {
  vertical-align: middle;
  display: inline; /* Отображать как строчный элемент */
  margin-right: 20px; /* Отступ слева */
  color: #666;
  padding: 3px; /* Поля вокруг текста */
}

.header {
}
.header_container {
  border-bottom: 1px solid #171717;

  width: 100%;
  height: 62px;
  background-color: black;
  display: grid;
  grid-template-columns: 30% 15% 55%;
}
@media (max-width: 1100px) {
  .header_container_empty {
    display: none;
  }
  .header_container {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}
.header_container > div.header_logo {
}
.header_logo_image {
  width: 186px;
  height: 62px;
  padding-left: 35%;
}

.header_container > div.header_container_empty {
}
.header_container > div.header_nav {
  padding-top: 15px;
  text-align: center;
  vertical-align: middle;
}
.header_inner_ul {
  vertical-align: middle;

  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}

.header_inner_ul a {
  color: #666;
}
.header_inner_ul a:hover {
  color: white;
  transition: 0.5s;
}

.header_inner_ul li {
  vertical-align: middle;
  display: inline; /* Отображать как строчный элемент */
  margin-right: 20px; /* Отступ слева */
  color: #666;
  padding: 3px; /* Поля вокруг текста */
}

/* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */

.main {
  background-color: #000000;
  height: 100%;
}
.news {
  padding-right: 15px;
  padding-left: 15px;
  width: 1170px;
  margin: 0 auto;
}
.new_title_main {
  font-family: "Yusei Magic", sans-serif;
  padding-top: 104px;
  padding-bottom: 42px;
  letter-spacing: 0em;
  color: white;
  text-align: center;
  font-size: 5.3em;
}


.new_title_main_2{

  font-family: "Yusei Magic", sans-serif;
  padding-top: 104px;
  padding-bottom: 42px;
  letter-spacing: 0em;
  color: white;
  text-align: center;
  font-size: 3.6em;


}
.list_block_news {
  margin: 50px auto;
  margin-top: 50px;
  margin-bottom: 0;
}
.block_news {
  padding: 45px 0 74px;
  border-bottom: 1px solid #333;
  max-width: 780px;
  margin: 0 auto;
}
.time_block {
  display: flex;
  text-align: center;
  align-items: center;
  display: block;
  font-size: 1.7em;
  font-weight: 200;
  color: #757575;
  margin-bottom: 35px;
}
.block_news_img_text {
  display: grid;
  grid-template-columns: 50% 50%;
}
.block_news_text_inner {
  font-family: "Yusei Magic", sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 75px;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  opacity: 0.6;
}

.block_news_text_inner:hover {
  opacity: 1;
  transition: 1s;
}

/* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */

.footer {
  border-top: 1px solid #333;
  background: #000;
  text-align: center;
  padding: 87px 0 282px;
}

.footer_inner {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  text-align: center;
  color: white;
}

.footer_inner h2 {
  margin-bottom: 100px;
}

/* Community */

.list_photo {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}
.list_photo li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  border: 1px solid #000; /* Рамка вокруг текста */
  padding: 3px; /* Поля вокруг текста **/
}

.footer-list-twitter {
  width: 44px;
  height: 36px;
  margin: 17px 10px;
  opacity: 0.6;
}
.footer-list-twitter:hover {
  transition: 0.8s;
  opacity: 1;
}

/* footer_list_text */ /* footer_list_text */ /* footer_list_text */ /* footer_list_text */

.footer_list_text {
  text-align: center;
  margin-top: 100px;
  line-height: 2em;
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-family: "TLD Headline Updated15";
}
.footer_list_text li .footer_list_text_li {
  color: white;
  opacity: 0.6;
}

.footer_list_text li:hover .footer_list_text_li:hover {
  transition: 0.5s;
  opacity: 1;
}

.footer_logo {
  opacity: 0.5;
  margin: 65px auto;
  max-width: 112px;
  max-height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
}
.footer_logo:hover {
  opacity: 1;
  transition: 0.8s;
}
.footer_logo_text {
  color: white;
}

.copyright {
  font-family: "Yusei Magic", sans-serif;
  margin: 42px auto 20px;
  font-size: 14px;
  font-weight: 200;
  line-height: 2em;
  max-width: 460px;
  color: #757575;
  letter-spacing: 0.03em;
}
.copyright_1 {
  text-decoration: underline;
  color: #757575;
}

/* Email Sender */ /* Email Sender */ /* Email Sender */ /* Email Sender */ /* Email Sender */ /* Email Sender */ /* Email Sender */

.email_sender {
  background: url(img/hesitant-prospect-newsletter-comp.png) center no-repeat;
  max-width: 880px;
  margin-top: 50 auto;
}
.email_sender_text {
  margin: 150px auto;

  color: white;
  text-align: center;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.3em;
  vertical-align: middle;
  display: flex;
  text-align: center;
  align-items: center;
  opacity: 0.8;
  padding: 75px;
}
.email_sender_field {
  display: block;

  border: 1px solid #ffffff66 !important;
  margin: 20px auto 48px;
  width: 100%;
  max-width: 445px;
  height: 74px;
  position: relative;
}
.email_sender_field_inner {
  border-right: 1px solid #ffffff66 !important;
  vertical-align: top;
  padding: 24px 0 16px 27px;
  background: transparent;
  border: none;
  border-right: 0px;
  max-width: 322px;
  width: 70%;
  height: 74px;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0.03em;
  border-radius: 0;
  font-weight: 400;
  box-sizing: border-box;
  outline-width: 0;
  color: white;
}

.email_sender_field_inner_submit {
  vertical-align: top;
  padding-top: 26px;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.4);
  background-color: transparent;
  font-style: normal;
  border: none;

  font-size: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.email_sender_field_inner_submit:hover {
  color: white;
  transition: 1s;
  opacity: 1;
}

.search_field {
  padding: 5px;
  margin-left: 15px;
  background-color: #171717;
  border: 1px solid white;
  color: white;
  font-size: 14px;
}

.button_search_button {
  background-color: none;
  background: none;
  border: none;
  border-radius: none;
  opacity: 0.6;
  cursor: pointer;
}

.button_search_button:hover {
  transition: 1s;
  opacity: 1;
}

.noselect {
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sort_button {
  margin-left: 20px;
  opacity: 0.6;
  cursor: pointer;
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
}

.sort_button:hover {
  transition: 1s;
  opacity: 1;
}
